<div class="l-footer">
    <dl>
        <dt>BRAND</dt>
        <dd>
            <ul class="c-link__list">
                <li>
                    <a href="#">PRODUCTS1</a>
                </li>
                <li>
                    <a href="#">PRODUCTS2</a>
                </li>
                <li>
                    <a href="#">PRODUCTS3</a>
                </li>
                <li>
                    <a href="#">PRODUCTS4</a>
                </li>
                <li>
                    <a href="#">PRODUCTS5</a>
                </li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt>BLOG</dt>
        <dd>
            <ul class="c-link__list">
                <li>
                    <a href="#">2LDK</a>
                </li>
                <li>
                    <a href="#">2LDK Tokyo</a>
                </li>
                <li>
                    <a href="#">2LDK Osaka</a>
                </li>
                <li>
                    <a href="#">2LDK Kyoto</a>
                </li>
                <li>
                    <a href="#">2LDK Koria</a>
                </li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt>FOLLOW</dt>
        <dd>
            <ul class="c-link__sns">
                <li>
                    <a href="#"><img src="assets/images/instgram.png" alt="instgram"></a>
                </li>
                <li>
                    <a href="#"><img src="assets/images/line.png" alt="line"></a>
                </li>
                <li>
                    <a href="#"><img src="assets/images/x.png" alt="x"></a>
                </li>
                <li>
                    <a href="#"><img src="assets/images/facebook.png" alt="facebook"></a>
                </li>
            </ul>
        </dd>
    </dl>
    <div class="l-footer__copyright">
        <h2>© I.D.Land Company</h2>
    </div>
</div>

</div><!-- l-wrap -->
</body>

</html>