<div class="l-hbg">
    <div class="l-hbg__top">
        <span>WELCOME</span>
    </div>
    <div class="l-hbg__member">
        <ul>
            <li class="c-link__hbg">
                <a href="#" class="c-link__hbg__login">ログイン</a>
            </li>
            <li class="c-link__hbg">
                <a href="#" class="c-link__hbg__member">会員登録</a>
            </li>
        </ul>
    </div>
    <div class="l-hbg__nav">
        <ul>
            <li>
                <span>ITEM</span>
            </li>
            <li>
                <span>FEATURE</span>
            </li>
            <li>
                <span>BLOG</span>
            </li>
            <li>
                <span>GUIDE</span>
            </li>
            <li>
                <span>お問い合わせ</span>
            </li>
            <li>
                <span>OFFICAL SITE</span>
            </li>
        </ul>
    </div>
</div>