<header class="l-header">
    <div class="c-hbgmenu"></div>
    <div class="c-image__logo">
        <h1><a href="#">2LDK</a></h1>
    </div>
    <div class="c-image__btn__search">
        <a href="#"><img src="assets/images/search.png" alt="search"></a>
    </div>
    <div class="c-image__btn__good">
        <a href="#"><img src="assets/images/good.png" alt="good"></a>
    </div>
    <div class="c-image__btn__cart">
        <a href="#"><img src="assets/images/cart.png" alt="cart"></a>
    </div>
    <section class="p-nav">
        <div class="p-nav__item"><a href="#">MENS</a>
        </div>
        <div class="p-nav__item"><a href="#">WOMENS</a>
        </div>
        <div class="p-nav__item"><a href="#">GOODS</a>
        </div>
    </section>
</header>