<div class="l-main">
    <!--topslider-->
    <div class="l-main__topSlider">
        <div class="l-main__topSlider__inner">
            <div class="p-topSlider__item">
                <div class="p-topSlider__image">
                    <a href="#">
                        <img src="assets/images/top1.jpeg" alt="top1">
                    </a>
                </div>
                <div class="p-topSlider__title">
                    <a href="#">top1</a>
                </div>
            </div>
            <div class="p-topSlider__item">
                <div class="p-topSlider__image">
                    <a href="#">
                        <img src="assets/images/top2.jpeg" alt="top2">
                    </a>
                </div>
                <div class="p-topSlider__title">
                    <a href="#">top2</a>
                </div>
            </div>
            <div class="p-topSlider__item">
                <div class="p-topSlider__image">
                    <a href="#">
                        <img src="assets/images/top3.jpeg" alt="top3">
                    </a>
                </div>
                <div class="p-topSlider__title">
                    <a href="#">top3</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        $('.l-main__topSlider__inner').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            dots: false,
            arrows: true,
            infinite: true,
            centerMode: true,
            variableWidth: true
            //centerPadding: '20%'
        });
    </script>

    <div class="l-main__brand">
        <h2 class="c-title">HOUSE BRAND</h2>
        <div class="l-main__brand__wrap">
            <div class="l-main__brand__inner">
                <div class="l-main__brand__item">
                    <div class="l-main__brand__image">
                        <a href="#">
                            <img src="assets/images/brand1.jpeg" alt="brand1">
                        </a>
                    </div>
                    <div class="l-main__brand__name">
                        <a href="#">BRAND1</a>
                    </div>
                </div>
                <div class="l-main__brand__item">
                    <div class="l-main__brand__image">
                        <a href="#">
                            <img src="assets/images/brand2.jpeg" alt="brand2">
                        </a>
                    </div>
                    <div class="l-main__brand__name">
                        <a href="#">BRAND2</a>
                    </div>
                </div>
                <div class="l-main__brand__item">
                    <div class="l-main__brand__image">
                        <a href="#">
                            <img src="assets/images/brand3.jpeg" alt="brand3">
                        </a>
                    </div>
                    <div class="l-main__brand__name">
                        <a href="#">BRAND3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="l-main__newitem">
        <h2 class="c-title">NEW ITEM</h2>
        <div class="l-main__newitem__list">
            <div class="l-main__newitem__inner">
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem1.jpeg" alt="newitem1">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem2.jpeg" alt="newitem2">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem3.jpeg" alt="newitem3">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem4.jpeg" alt="newitem4">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem5.jpeg" alt="newitem5">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem6.jpeg" alt="newitem6">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem7.jpeg" alt="newitem7">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem8.jpeg" alt="newitem8">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-btn">
            <a href="#"><span class="c-text__btn">MORE</span></a>
        </div>
    </div>
</div>