<div class="l-main">
    <!--topslider-->
    <div class="l-main__topSlider">
        <div class="l-main__topSlider__inner">
            <div class="p-topSlider__item">
                <div class="p-topSlider__image">
                    <a href="#">
                        <img src="assets/images/top1.jpeg" alt="top1">
                    </a>
                </div>
                <div class="p-topSlider__title">
                    <a href="#">BRAND1<br>24Autumn & Winter</a>
                </div>
            </div>
            <div class="p-topSlider__item">
                <div class="p-topSlider__image">
                    <a href="#">
                        <img src="assets/images/top2.jpeg" alt="top2">
                    </a>
                </div>
                <div class="p-topSlider__title">
                    <a href="#">BRAND2<br>Limited item</a>
                </div>
            </div>
            <div class="p-topSlider__item">
                <div class="p-topSlider__image">
                    <a href="#">
                        <img src="assets/images/top3.jpeg" alt="top3">
                    </a>
                </div>
                <div class="p-topSlider__title">
                    <a href="#">BRAND3<br>24Autumn & Winter</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        $('.l-main__topSlider__inner').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            dots: false,
            arrows: true,
            infinite: true,
            centerMode: true,
            variableWidth: true,
            //centerPadding: '20%'
            responsive: [
                {
                    breakpoint: 1440,
                    settings: {
                        arrows: false,
                        centerPadding: '30px',
                        slidesToShow: 1
                    }
                }]
        });
    </script>

    <!--FEATURE-->
    <div class="l-main__feature">
        <h2 class="c-title">FEATURE</h2>
        <div class="l-main__featureSlider">
            <div class="l-main__featureSlider__inner">
                <div class="p-featureSlider__item">
                    <div class="p-featureSlider__image">
                        <a href="#">
                            <img src="assets/images/featureSlider1.jpeg" alt="featureSlider1">
                        </a>
                    </div>
                    <div class="p-featureSlider__title">
                        <a href="#">outerwear</a>
                    </div>
                    <div class="p-featureSlider__text">November 10th, 2024</div>
                </div>
                <div class="p-featureSlider__item">
                    <div class="p-featureSlider__image">
                        <a href="#">
                            <img src="assets/images/featureSlider2.jpeg" alt="featureSlider2">
                        </a>
                    </div>
                    <div class="p-featureSlider__title">
                        <a href="#">Autumn Styling</a>
                    </div>
                    <div class="p-featureSlider__text">November 9th, 2024</div>
                </div>
                <div class="p-featureSlider__item">
                    <div class="p-featureSlider__image">
                        <a href="#">
                            <img src="assets/images/featureSlider3.jpeg" alt="featureSlider3">
                        </a>
                    </div>
                    <div class="p-featureSlider__title">
                        <a href="#">Outdoor</a>
                    </div>
                    <div class="p-featureSlider__text">October 31th, 2024</div>
                </div>
                <div class="p-featureSlider__item">
                    <div class="p-featureSlider__image">
                        <a href="#">
                            <img src="assets/images/featureSlider4.jpeg" alt="featureSlider4">
                        </a>
                    </div>
                    <div class="p-featureSlider__title">
                        <a href="#">Your vest accessories</a>
                    </div>
                    <div class="p-featureSlider__text">October 31th, 2024</div>
                </div>
                <div class="p-featureSlider__item">
                    <div class="p-featureSlider__image">
                        <a href="#">
                            <img src="assets/images/featureSlider5.jpeg" alt="featureSlider5">
                        </a>
                    </div>
                    <div class="p-featureSlider__title">
                        <a href="#">2LDK Tokyo staffs styling</a>
                    </div>
                    <div class="p-featureSlider__text">October 26th, 2024</div>
                </div>
                <div class="p-featureSlider__item">
                    <div class="p-featureSlider__image">
                        <a href="#">
                            <img src="assets/images/featureSlider6.jpeg" alt="featureSlider6">
                        </a>
                    </div>
                    <div class="p-featureSlider__title">
                        <a href="#">Setup</a>
                    </div>
                    <div class="p-featureSlider__text">October 20th, 2024</div>
                </div>
            </div>
        </div>
        <div class="c-btn c-btn__feature">
            <a href="#"><span class="c-text__btn">VIEW ALL</span></a>
        </div>
    </div>

    <script>
        $('.l-main__featureSlider__inner').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            dots: true,
            arrows: true,
            infinite: true,
            centerMode: true,
            variableWidth: true,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerPadding: '30px',
                        slidesToShow: 1
                    }
                }]
        });</script>

    <!--BRAND-->
    <div class="l-main__brand">
        <h2 class="c-title">HOUSE BRAND</h2>
        <div class="l-main__brand__wrap">
            <div class="l-main__brand__inner">
                <div class="l-main__brand__item">
                    <div class="l-main__brand__image">
                        <a href="#">
                            <picture>
                                <source srcset="assets/images/brand1sp.jpeg" media="(max-width: 768px)">
                                <img src="assets/images/brand1.jpeg" alt="Brand">
                            </picture>
                        </a>
                    </div>
                    <div class="l-main__brand__name">
                        <a href="#">BRAND1</a>
                    </div>
                </div>
                <div class="l-main__brand__item">
                    <div class="l-main__brand__image">
                        <a href="#">
                            <picture>
                                <source srcset="assets/images/brand2sp.jpeg" media="(max-width: 768px)">
                                <img src="assets/images/brand2.jpeg" alt="Brand">
                            </picture>
                        </a>
                    </div>
                    <div class="l-main__brand__name">
                        <a href="#">BRAND2</a>
                    </div>
                </div>
                <div class="l-main__brand__item">
                    <div class="l-main__brand__image">
                        <a href="#">
                            <picture>
                                <source srcset="assets/images/brand3sp.jpeg" media="(max-width: 768px)">
                                <img src="assets/images/brand3.jpeg" alt="Brand">
                            </picture>
                        </a>
                    </div>
                    <div class="l-main__brand__name">
                        <a href="#">BRAND3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--newitem-->
    <div class="l-main__newitem">
        <h2 class="c-title">NEW ITEM</h2>
        <div class="l-main__newitem__list">
            <div class="l-main__newitem__inner">
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem1.jpeg" alt="newitem1">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem2.jpeg" alt="newitem2">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem3.jpeg" alt="newitem3">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem4.jpeg" alt="newitem4">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem5.jpeg" alt="newitem5">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem6.jpeg" alt="newitem6">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem7.jpeg" alt="newitem7">
                        </a>
                    </div>
                </div>
                <div class="l-main__newitem__item">
                    <div class="l-main__newitem__image">
                        <a href="#">
                            <img src="assets/images/newitem8.jpeg" alt="newitem8">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-btn">
            <a href="#"><span class="c-text__btn">MORE</span></a>
        </div>
    </div>

    <!--RECOMMEND ITEMS-->
    <div class="l-main__recommend">
        <h2 class="c-title">RECOMMEND ITEMS</h2>
        <div class="l-main__recommend__list">
            <div class="l-main__recommend__inner">
                <div class="p-recommendSlider__item">
                    <div class="p-recommendSlider__image">
                        <a href="#">
                            <img src="assets/images/recommend1.jpeg" alt="recommend1">
                        </a>
                    </div>
                    <div class="p-recommendSlider__title">
                        <a href="#">recommend1</a>
                    </div>
                    <div class="p-recommendSlider__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-recommendSlider__item">
                    <div class="p-recommendSlider__image">
                        <a href="#">
                            <img src="assets/images/recommend2.jpeg" alt="recommend2">
                        </a>
                    </div>
                    <div class="p-recommendSlider__title">
                        <a href="#">recommend2</a>
                    </div>
                    <div class="p-recommendSlider__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-recommendSlider__item">
                    <div class="p-recommendSlider__image">
                        <a href="#">
                            <img src="assets/images/recommend3.jpeg" alt="recommend3">
                        </a>
                    </div>
                    <div class="p-recommendSlider__title">
                        <a href="#">recommend3</a>
                    </div>
                    <div class="p-recommendSlider__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-recommendSlider__item">
                    <div class="p-recommendSlider__image">
                        <a href="#">
                            <img src="assets/images/recommend4.jpeg" alt="recommend4">
                        </a>
                    </div>
                    <div class="p-recommendSlider__title">
                        <a href="#">recommend4</a>
                    </div>
                    <div class="p-recommendSlider__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-recommendSlider__item">
                    <div class="p-recommendSlider__image">
                        <a href="#">
                            <img src="assets/images/recommend5.jpeg" alt="recommend5">
                        </a>
                    </div>
                    <div class="p-recommendSlider__title">
                        <a href="#">recommend5</a>
                    </div>
                    <div class="p-recommendSlider__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-recommendSlider__item">
                    <div class="p-recommendSlider__image">
                        <a href="#">
                            <img src="assets/images/recommend6.jpeg" alt="recommend6">
                        </a>
                    </div>
                    <div class="p-recommendSlider__title">
                        <a href="#">recommend6</a>
                    </div>
                    <div class="p-recommendSlider__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-recommendSlider__item">
                    <div class="p-recommendSlider__image">
                        <a href="#">
                            <img src="assets/images/recommend7.jpeg" alt="recommend7">
                        </a>
                    </div>
                    <div class="p-recommendSlider__title">
                        <a href="#">recommend7</a>
                    </div>
                    <div class="p-recommendSlider__text">¥29,700（TAX IN）</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.l-main__recommend__inner').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            dots: true,
            arrows: true,
            infinite: true,
            centerMode: true,
            variableWidth: true,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: false
                    }
                }]
        });</script>

    <!--RANKING-->
    <div class="l-main__ranking">
        <h2 class="c-title">RANKING</h2>
        <div class="p-rankingnav">
            <input type="radio" id="tab-all" name="ranking-tab" checked>
            <label for="tab-all" class="c-rankingnav__item">ALL</label>

            <input type="radio" id="tab-tops" name="ranking-tab">
            <label for="tab-tops" class="c-rankingnav__item">TOPS</label>

            <input type="radio" id="tab-outer" name="ranking-tab">
            <label for="tab-outer" class="c-rankingnav__item">OUTER</label>

            <input type="radio" id="tab-bottoms" name="ranking-tab">
            <label for="tab-bottoms" class="c-rankingnav__item">BOTTOMS</label>

            <input type="radio" id="tab-goods" name="ranking-tab">
            <label for="tab-goods" class="c-rankingnav__item">GOODS</label>
        </div>

        <div class="p-rankingcontent">
            <div class="p-rankingcontent_content" id="p-rankingcontent_content-all">
                <div class="p-rankingcontent__inner">
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">1</span> <!-- ランキング順位 -->
                            <a href="#">
                                <img src="assets/images/recommend1.jpeg" alt="recommend1">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking1</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">2</span>
                            <a href="#">
                                <img src="assets/images/recommend1.jpeg" alt="recommend1">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking2</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">3</span>
                            <a href="#">
                                <img src="assets/images/recommend1.jpeg" alt="recommend1">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking3</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">4</span>
                            <a href="#">
                                <img src="assets/images/recommend1.jpeg" alt="recommend1">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking4</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">5</span>
                            <a href="#">
                                <img src="assets/images/recommend1.jpeg" alt="recommend1">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking5</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">6</span>
                            <a href="#">
                                <img src="assets/images/recommend1.jpeg" alt="recommend1">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking6</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">7</span>
                            <a href="#">
                                <img src="assets/images/recommend1.jpeg" alt="recommend1">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking7</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">8</span>
                            <a href="#">
                                <img src="assets/images/recommend1.jpeg" alt="recommend1">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking8</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                </div>
            </div>
            <div class="p-rankingcontent_content" id="p-rankingcontent_content-tops">
                <div class="p-rankingcontent__inner">
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">1</span>
                            <a href="#">
                                <img src="assets/images/recommend2.jpeg" alt="recommend2">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking1</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">2</span>
                            <a href="#">
                                <img src="assets/images/recommend2.jpeg" alt="recommend2">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking2</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">3</span>
                            <a href="#">
                                <img src="assets/images/recommend2.jpeg" alt="recommend2">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking3</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">4</span>
                            <a href="#">
                                <img src="assets/images/recommend2.jpeg" alt="recommend2">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking4</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">5</span>
                            <a href="#">
                                <img src="assets/images/recommend2.jpeg" alt="recommend2">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking5</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">6</span>
                            <a href="#">
                                <img src="assets/images/recommend2.jpeg" alt="recommend2">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking6</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">7</span>
                            <a href="#">
                                <img src="assets/images/recommend2.jpeg" alt="recommend2">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking7</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                    <div class="p-rankingcontent__item">
                        <div class="p-rankingcontent__image">
                            <span class="p-rankingcontent__rank">8</span>
                            <a href="#">
                                <img src="assets/images/recommend2.jpeg" alt="recommend2">
                            </a>
                        </div>
                        <div class="p-rankingcontent__title">
                            <a href="#">ranking8</a>
                        </div>
                        <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-rankingcontent_content" id="p-rankingcontent_content-outer">
            <div class="p-rankingcontent__inner">
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">1</span>
                        <a href="#">
                            <img src="assets/images/recommend3.jpeg" alt="recommend3">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking1</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">2</span>
                        <a href="#">
                            <img src="assets/images/recommend3.jpeg" alt="recommend3">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking2</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">3</span>
                        <a href="#">
                            <img src="assets/images/recommend3.jpeg" alt="recommend3">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking3</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">4</span>
                        <a href="#">
                            <img src="assets/images/recommend3.jpeg" alt="recommend3">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking4</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">5</span>
                        <a href="#">
                            <img src="assets/images/recommend3.jpeg" alt="recommend3">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking5</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">6</span>
                        <a href="#">
                            <img src="assets/images/recommend3.jpeg" alt="recommend3">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking6</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">7</span>
                        <a href="#">
                            <img src="assets/images/recommend3.jpeg" alt="recommend3">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking7</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">8</span>
                        <a href="#">
                            <img src="assets/images/recommend3.jpeg" alt="recommend3">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking8</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
            </div>
        </div>
        <div class="p-rankingcontent_content" id="p-rankingcontent_content-bottoms">
            <div class="p-rankingcontent__inner">
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">1</span>
                        <a href="#">
                            <img src="assets/images/recommend4.jpeg" alt="recommend4">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking1</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">2</span>
                        <a href="#">
                            <img src="assets/images/recommend4.jpeg" alt="recommend4">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking2</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">3</span>
                        <a href="#">
                            <img src="assets/images/recommend4.jpeg" alt="recommend4">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking3</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">4</span>
                        <a href="#">
                            <img src="assets/images/recommend4.jpeg" alt="recommend4">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking4</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">5</span>
                        <a href="#">
                            <img src="assets/images/recommend4.jpeg" alt="recommend4">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking5</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">6</span>
                        <a href="#">
                            <img src="assets/images/recommend4.jpeg" alt="recommend4">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking6</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">7</span>
                        <a href="#">
                            <img src="assets/images/recommend4.jpeg" alt="recommend4">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking7</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">8</span>
                        <a href="#">
                            <img src="assets/images/recommend4.jpeg" alt="recommend4">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking8</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
            </div>
        </div>
        <div class="p-rankingcontent_content" id="p-rankingcontent_content-goods">
            <div class="p-rankingcontent__inner">
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">1</span>
                        <a href="#">
                            <img src="assets/images/recommend8.jpeg" alt="recommend8">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking1</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">2</span>
                        <a href="#">
                            <img src="assets/images/recommend8.jpeg" alt="recommend8">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking2</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">3</span>
                        <a href="#">
                            <img src="assets/images/recommend8.jpeg" alt="recommend8">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking3</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">4</span>
                        <a href="#">
                            <img src="assets/images/recommend8.jpeg" alt="recommend8">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking4</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">5</span>
                        <a href="#">
                            <img src="assets/images/recommend8.jpeg" alt="recommend8">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking5</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">6</span>
                        <a href="#">
                            <img src="assets/images/recommend8.jpeg" alt="recommend8">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking6</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">7</span>
                        <a href="#">
                            <img src="assets/images/recommend8.jpeg" alt="recommend8">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking7</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
                <div class="p-rankingcontent__item">
                    <div class="p-rankingcontent__image">
                        <span class="p-rankingcontent__rank">8</span>
                        <a href="#">
                            <img src="assets/images/recommend8.jpeg" alt="recommend8">
                        </a>
                    </div>
                    <div class="p-rankingcontent__title">
                        <a href="#">ranking8</a>
                    </div>
                    <div class="p-rankingcontent__text">¥29,700（TAX IN）</div>
                </div>
            </div>
        </div>
        <div class="c-btn__totop"></div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const toTopButton = document.querySelector('.c-btn__totop'); // トップへ戻るボタン

                window.addEventListener('scroll', function () {
                    if (window.scrollY > 300) { // スクロール量が300pxを超えたら表示
                        toTopButton.classList.add('is-visible');
                    } else {
                        toTopButton.classList.remove('is-visible');
                    }
                });

                toTopButton.addEventListener('click', function () {
                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth'
                    });
                });
            });
        </script>
    </div>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tabs = document.querySelectorAll('.p-rankingnav input[type="radio"]');
            const contents = document.querySelectorAll('.p-rankingcontent_content');

            contents.forEach(content => {
                content.style.display = 'none'; // すべてのコンテンツを非表示に
            });
            document.getElementById('p-rankingcontent_content-all').style.display = 'block';

            tabs.forEach(tab => {
                tab.addEventListener('change', function () {
                    // 全てのコンテンツを非表示にする
                    contents.forEach(content => {
                        content.style.display = 'none';
                    });

                    // 選択されたタブに対応するコンテンツを表示する
                    const targetContent = document.getElementById(`p-rankingcontent_content-${this.id.split('-')[1]}`);
                    if (targetContent) {
                        targetContent.style.display = 'block';
                    }
                });
            });
        });

    </script>
</div>


</div>