.c-btn {
    text-align: center;

    a {
        display: block;
        width: 100%;
        max-width: 280px;
        margin: 0 auto;

        background-color: #fff;
        border: 1px solid;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        display: inline-block;

    }
}