.c-hbgmenu {
    width: 40px;
    height: 40px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;

    &::before {
        content: "";
        width: 28px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 6px;
        background: #000;
        margin-top: -5px;
    }

    &::after {
        content: "";
        width: 18px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 6px;
        background: #000;
        margin-top: 4px;
        transition: width 0.3s;
    }

    &:hover::after {
        width: 28px;
    }
}