.l-main {

    &__brand {
        padding: 100px 0;
        background: #fff;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 768px) {
            padding: 50px 0;
        }

        &__inner {
            width: 100%;
            box-sizing: border-box;
            max-width: 1260px;
            margin: 0 auto;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;

            @media screen and (max-width: 768px) {
                //display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 30px;
            }
        }

        &__item {
            width: calc(33.33% - 30px);
            margin: 0;

            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 40px;
            cursor: pointer;

            @media screen and (max-width: 768px) {
                width: 100%;
                margin: 10px 0;
                gap: 0;
            }
        }

        &__image {
            object-fit: cover;
            aspect-ratio: 3 / 4;

            @media screen and (max-width: 768px) {
                //height: 100%;
                aspect-ratio: 4 / 3;

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }

        &__name {
            text-align: center;
            font-size: 14px;
            line-height: 1.5em;
            font-weight: 400;
            order: 2;

            &:hover {
                color: rgba(0, 0, 0, 0.6);
            }

            @media screen and (max-width: 768px) {
                padding: 10px 20px;
            }
        }
    }

    &__newitem {
        background: #F5F7F7;
        padding: 100px 30px;

        @media screen and (max-width: 1260px) {
            width: auto;
        }

        &__image {
            display: block;
            max-width: 100%;

            img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 3 / 4;
            }
        }

        &__inner {
            width: 1200px;
            margin: 0 auto;

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media screen and (max-width: 1260px) {
                width: auto;
            }
        }

        &__item {
            width: calc(25% - 45px);
            margin-bottom: 60px;
            position: relative;

            @media screen and (max-width: 1200px) {
                width: calc(25% - 30px);
            }

            @media screen and (max-width: 768px) {
                width: calc(50% - 7px);
                margin-bottom: 40px;
            }
        }
    }

    &__topSlider {
        margin-bottom: 100px;
        margin-top: 100px;

        &__inner {
            width: 100%;
            overflow: hidden;
            transition: opacity 0.3s;
            position: relative;
            display: flex;
        }
    }

    &__feature {
        background: #F4F7F7 !important;
        padding: 100px 0px 80px !important;
    }

    &__featureSlider {
        overflow: hidden;
        width: 100%;

        &__inner {
            display: flex;
            box-sizing: border-box;
        }
    }

    &__recommend {
        border-top: 1px solid #F5F7F7;
        padding: 100px 0;

        &__inner {
            display: block;
            zoom: 1;
            overflow: hidden;
            position: relative;
        }
    }

    &__ranking {
        background-color: #F5F7F7;
        padding: 100px 30px 50px;
        overflow-x: hidden;
    }
}

.l-main__featureSlider .slick-prev {
    left: 0;
}

.l-main__featureSlider .slick-next {
    right: 0;
}

.l-main__recommend .slick-prev {
    left: 0;
}

.l-main__recommend .slick-next {
    right: 0;
}