.p-rankingcontent {
    padding-top: 40px;
    border-top: 1px solid #ddd;
    max-width: 1250px;
    margin: 0 auto;

    &__inner {
        width: 1200px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 1260px) {
            width: auto;
        }
    }

    &__item {
        width: calc(25% - 45px);
        margin-bottom: 60px;
        position: relative;

        @media screen and (max-width: 1200px) {
            width: calc(25% - 30px);
        }

        @media screen and (max-width: 768px) {
            width: calc(50% - 7px);
            margin-bottom: 40px;
        }
    }

    &__title {
        margin: 20px 0 5px;

        a {
            font-size: 12px;
            line-height: 1.6em;
            font-weight: 400;
        }
    }

    &__image img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 2 / 3;
    }

    &__text {
        font-size: 14px;
        line-height: 1.6em;
        font-weight: 400;
    }

    &__rank {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        font-size: 10px;
        padding: 5px 10px;
        z-index: 10;
    }
}